h1{
	color:blue;
	text-align:center;
	text-align:right;
	text-align:left;
	
}

p{
	color:pink;
	text-align:justify;
	font-size:25px;
	font-family:Times New Roman;
	font-family:Gabriola;
	
	
}
body{
	background-color:brown;
	
}
	
	
